form(action='/login', method='post')
  #login
    label(for='username') Login
    input(type='text', name='username', value=email)
  #password
    label(for='password') Password
    input(type='password', name='password')
  #submit
    button(type='submit') Login
